<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wisn.pm">

    <application
        android:icon="${icon}"
        android:theme="${WisnTheme}"
        >
        <!--android:theme="${WisnTheme}"-->
        <meta-data
            android:name="CName"
            android:value="${CName_value}"
            tools:replace="android:value"/>

    </application>
</manifest>